.App-logo {
    height: 10vmin;
    pointer-events: none;
    float: left;
    background-color: #282c34;
}

.App-header {
    height: 70px;
    display: flex;
}

.card-link {
    color: black
}

.card-body a:hover {
    text-decoration: underline;
    color: black
}

.nav-link {
    color: black
}